# root location of cfg git repositories
# default: /usr/local/cfg
# CFG_REPO_ROOT="/usr/local/cfg"

# use zfs to store data (true|false)
# default: true
# USE_ZFS="true"

# root cfg ZFS dataset - ignored if zfs is not active
# default: zroot/CONFIG
# CFG_ZFS_ROOT="zroot/CONFIG"

# this machine's cfg git repository
# default: the output of command 'hostname'
# BOX_CONFIG_NAME="$(hostname)"

# the prefix used to mark user-specific cfg git repository
# default: user_
# USER_CONFIGS_PREFIX="user_"

# files and directories git-added when running bcfgadd / cfg --box --add
# default: /.cshrc \
#          /.gitignore \
#          /.profile \
#          /boot/efi \
#          /boot/loader.conf \
#          /COPYRIGHT \
#          /etc \
#          /usr/local/cfg/info \
#          /usr/local/etc \
#          /usr/local/jails \
#          /var/cron/tabs \
#          /var/unbound
# BASE_BOX_ADD_ITEMS=" \
#     /.cshrc \
#     /.gitignore \
#     /.profile \
#     /boot/efi \
#     /boot/loader.conf \
#     /COPYRIGHT \
#     /etc \
#     /usr/local/cfg/info \
#     /usr/local/etc \
#     /usr/local/jails \
#     /var/cron/tabs \
#     /var/unbound
# "
