# Cfg can optionally use ZFS for its git repositories storage. For
# ZFS define ZPOOL, otherwise set NO_ZFS=yes
#
### NO ZFS
# To not use ZFS, define NO_ZFS=yes
# NO_ZFS=yes

#### ZFS
# The pool where cfg will create all the filesystems it needs
# cfg will use ${ZPOOL}/${ZROOTFS} as its root
#
# You need at least 7GB of free space in this pool to have a working
# cfg.
#
# default: zroot
# ZPOOL=zroot

# root of the cfg zfs filesystem, by default /cfg
# default: /CONFIG
# ZROOTFS=/CONFIG

# root location of cfg git repositories
# when using zfs this will be the mountpoint of ZROOTFS
# default: /usr/local/cfg
# ROOT_DIR="/usr/local/cfg"

# files and directories git-added when running cfg -a
# default: /.cshrc \
#          /.gitignore \
#          /.profile \
#          /boot/efi \
#          /COPYRIGHT \
#          /etc \
#          /usr \
#          /var
# BASE_HOST_ADD_ITEMS=" \
#     /.cshrc \
#     /.gitignore \
#     /.profile \
#     /boot/efi \
#     /COPYRIGHT \
#     /etc \
#     /usr \
#     /var
# "

# files and directories git-force-added when running cfg -a
# default: /boot/loader.conf
# BASE_HOST_FORCE_ADD_ITEMS=" \
#     /boot/loader.conf \
# "
