/.cache
/bin
/boot
!/boot/loader.conf
/compat/
/dev/
/entropy
/etc/pwd.db
/etc/rc.conf-E
/etc/spwd.db
/etc/ssh/ssh_host_*_key
/etc/zfs/exports.lock
/home
/lib
/libexec
/proc
/rescue
/root
/sbin
/sys
/tmp
/usr/bin
/usr/home
/usr/include
/usr/lib
/usr/lib32
/usr/libdata
/usr/libexec
/usr/local/bin
/usr/local/cfg/gitk/*/*
/usr/local/cfg/ro_repos
/usr/local/cfg/rw_repos
/usr/local/etc/cups/subscriptions.conf*
/usr/local/etc/sasldb2.db
/usr/local/etc/ssl
/usr/local/go121
/usr/local/include
/usr/local/lib
/usr/local/lib32
/usr/local/libdata
/usr/local/libexec
/usr/local/llvm15
/usr/local/llvm17
/usr/local/openjdk*
/usr/local/openssl
/usr/local/poudriere
/usr/local/sbin
/usr/local/share
/usr/local/x86_64-portbld-freebsd14.0/
/usr/ports
/usr/sbin
/usr/share
/usr/src
/usr/tests
/var/backups
/var/cache
/var/crash
/var/db
/var/lib
/var/log
/var/mail
/var/msgs
/var/run
/var/spool
/var/tmp

# unbound
/var/unbound/forward.conf
/var/unbound/root.key

# vm
/usr/local/vm
