**/.lock
*.sublime-workspace
*.sublime_session
.*-hsts
.*authority
.*history
*.sqlite
backups

.cache
.cargo
.ccache
.cfg

.config/caja/accels
.config/chromium
.config/Code - OSS
.config/dconf/user
.config/geany/geany_socket_*
.config/GIMP
.config/google-chrome
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/kde.org/UserFeedback*
.config/libreoffice
.config/session/kwin_saved*
.config/leafpad/leafpadrc
.config/libreoffice/4/user/config/javasettings_FreeBSD_X86_64.xml
.config/libreoffice/4/user/GraphicsRenderTests.log
.config/libreoffice/4/user/pack
.config/libreoffice/4/user/registrymodifications.xcu
.config/plasmashellrc
.config/okularrc
.config/pulse
.config/repos
.config/tmux/resurrect
.dbus
.dzen2-fifo
.fehbg*
.fonts/.uuid
.lesshst
.config/plasmanotifyrc
.config/QtProject.conf
.config/session/*
.local/share/*
!.local/share/applications
!.local/share/user-places.xbel
!.local/share/dolphin
.local/share/dolphin/*
!.local/share/dolphin/view_properties
.local/share/dolphin/view_properties/*
!.local/share/dolphin/view_properties/global
!.local/share/fonts
!.local/share/mime
!.local/share/plank
.mozilla
.pki/nssdb/*.db
.purple/status.xml
.serverauth.*
.ssh/*_ed25519
.ssh/id_rsa
.ssh/known_hosts*
.ssh/legacy
.thrash
.thunderbird
typescript

# Beyond Compare license etc.
.config/bcompare/BC*Key.txt
.config/bcompare/BCState.xml
.config/bcompare/BCSessions.xml
.config/bcompare/*.xml.bak
.config/bcompare/BCLOCK*
.config/bcompare5/BCState.xml

# Sublime Text
.config/sublime-text/Local/License.sublime_license

# pipx
.local/pipx/logs
.local/pipx/py
.local/pipx/shared/bin
.local/pipx/shared/lib
.local/pipx/shared/lib64

# VS Code
.vscode-oss
.vscode-oss/extensions

# QT
.config/Trolltech.conf

.gnupg

.xsession-errors
Desktop
Documents
Downloads
downloads
Music
Pictures
Public
Templates
Videos


.config/htop/htoprc
.jupyter/migrated
.tmp
.config/gtk-2.0/gtkfilechooser.ini

# Recoll
.recoll/mboxcache
.recoll/xapiandb

.config/Recoll.org/needidxretrydate
.config/Recoll.org/recoll.ini
*.pid

# VNC
.vnc/tigervnc.history
